
body{
    padding-top:5em;
    background-color: rgb(3, 35, 36);
}

.introduction{
background-color: rgb(11, 144, 154);
width:50vw;
height: 50vh;
margin:auto;
}

.timer{
    text-align: center;
   margin-top: auto;
   list-style-type: none;
   background-color: rgba(57, 228, 177, 0.683);
   width:50vw;
   height: 10vh;
}

.highScores{
    margin-top:3%;
    list-style-type: none;
} 

.nextBtn{
    margin-top:3%;
    list-style-type: none;
}

.hidden{
    display: none;
}


/* Styling for the HighScore page starts here*/

.highScoresContainer{
    background-color: rgb(102, 173, 176);
    width:50vw;
    height: 50vh;
    margin:auto;  
}

.btn{
    justify-content: center;
    display: flex;
    margin:auto;
    text-align: center;
    align-items: center; 
}

h1{
    text-align: center;
}
/*Styling for Quiz questions*/

h3{
    text-align: center;
}

.answerBtn{
    display:block;
    text-align: center;
    margin:auto;

}

.answerBtn:hover{
    background-color: rgb(0, 21, 128);
}


.hide{
    display:none;
}

/* styling for the Scoring */

.scoreInput{
    text-align: center;
    background-color: rgb(102, 173, 176);
    width:20vw;
    height: 20vh;
    margin:auto;  
}